#admin-page {
    padding: 100px 0;

    .hashtag-label {
        font-size: 2.2em;
        font-weight: normal;
        color: #ddd;
        margin-top: -10px;
        margin-right: -20px;
    }

    #hashtag-input {
        font-size: 1.3em;
        height: 40px;
        line-height: 40px;
    }

    #go-button {
        margin-top: 15px;
    }
}