$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


#main-container {
  margin-top: 50px;
  width:100%;
  
}


#background{	
  position:absolute;
  right:0;
  top:0;
  left:0;
  bottom:0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position:absolute;
  width:100%;
  z-index:-1;
  height:100%;
}
#overlay{
  background: rgba(46,46,46, 0.8);

}
#headline{
	padding-top:2%;
	text-align: center;
}
div.images{
  position:absolute;
  display:inline-block;
}
div.center{
	position:relative;
	text-align: center;
}
div.box{
  background: rgba(0,0,0, 1);
  text-align: center;
  width: 32%;
  height: 0;
  padding-bottom: 32%;
  margin: 2% 5%;
  vertical-align: top;
  display:inline-block;
}
img.pic{
  overflow: hidden;
  display:block;
}
.wide {
    height:100%;
}
.tall {
    width:100%;
}




