$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import 'admin';

*{
  padding:0;
  margin:0;
}

body {
  background-color: #333;
}

#main-container {
  width:100%;
  
}
p{
  color:white;
}

#background{	
  position:absolute;
  right:0;
  top:0;
  left:0;
  bottom:0;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  -webkit-filter: blur(7px);
  -moz-filter: blur(7px);
  -o-filter: blur(7px);
  -ms-filter: blur(7px);
  filter: blur(7px);
  width:100%;
  z-index:-1;
  height:100%;
}
#overlay{
  background: rgba(46,46,46, 0.8);

}
#headline{
	padding-top:2%;
	text-align: center;
}

div.images{
  position:absolute;
  display:inline-block;
}
div.center{
	position:relative;
	text-align: center;

}
div.box{
  border: none;
  text-align: center;
  width: 28%;
  height: 0;
  padding-bottom: 28%;
  margin: 2% 5% 0% 5%;
  vertical-align: top;
  display:inline-block;
  overflow:hidden;
}
img.pic{
  overflow: hidden;
  display:block;
border: none;
}
.info{
  text-align:left;
  border: none;
  width: 28%;
  height: 0;
  padding-bottom: 28%;
  margin: 2% 5%;
  vertical-align: top;
}
.info{
  display:inline-block;
  font-family: helvetica;
  font-weight:bold;
}
.profilepic, .user, .tags{
  display:inline-block;
}
.profilepic{
  border-radius:50%;
  border: 3px solid white;
}
.wide {
    height:100%;
}
.tall {
    width:100%;
}






