<div id="admin-page">

<a ng-href="{{loginURL}}">Login in with Spotify</a>
<div>
    <input name='tag' ng-model='tag'></input>
    <button ng-click='createPlaylist()'>Start</button>
</div>

    <form class="form-horizontal" role="form">
      <div class="col-xs-6 col-xs-offset-3">
        <label for="hashtag-input" class="hashtag-label col-sm-2 control-label">#</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="hashtag-input" placeholder="partyAtMyPlace" ng-model="hashtag">
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-offset-5 col-xs-2">
          <button id="go-button" class="btn btn-primary btn-lg col-xs-12" ng-click="startPartyMode()">Go!</button>
        </div>
      </div>
    </form>
</div>
