<div class="data">

    <div id="background" style="background: url({{currentPhoto.picURL}}) no-repeat center center fixed"><div id="overlay"></div></div>

    <div id="headline">
        <h2><span id='hashtag'>#</span>{{currentHashtag}}</h2>
    </div>

    <div id="images">
        <div class="center">
          <div class="box">
            <img id="insta" ng-src="{{currentPhoto.picURL}}" />
          </div>
          <div class="box">
              <img ng-src="{{resultSong.image}}"/>

          </div>
          <div class="info row">
            <div class="profilepic col-xs-4">
            <img ng-src="{{currentPhoto.user.profile_picture}}" />
               <p>{{currentPhoto.user.username}}</p>
            </div>
            <div class="tags col-xs-8">
                <p>
                    <span ng-repeat="tag in hashtagArray">
                        #{{tag}}
                    </span>
                </p>
            </div>
          </div>


          <div class="info">
            <div class="song-info">
                <div class="col-xs-1 play"><span class="glyphicon glyphicon-play"></span></div>
                <div class="col-xs-11">
                  <p class="title">{{resultSong.title}}</p>
                  <p class="artist">{{resultSong.artist_name}}</p>
              </div>
            </div>
          </div>

        </div>
    </div>
    <div class="col-xs-12 main-logo">
        <a href="about.html" class="pull-right"><img src="images/Quepic_logo_solid.png"/></a>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="scripts/imageScript.js"></script>
